<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

<link href='../../../public/styles/bootstrap.min.css' rel="stylesheet">
<link href='../../../public/styles/font-awesome.min.css' rel="stylesheet">
<link href='../../../public/styles/home.css' rel="stylesheet">
<script src="../../../public/scripts/jquery-1.10.2.js"></script>
<script src="../../../public/scripts/bootstrap.js"></script>
<script src="../../../public/scripts/slider.js"></script>
</head>
<body>
<ul class="productList">
	{if $products}
	{foreach $products as $key=>$value}
	<li>
		<dl>
			<dd><img src="../../../public/uploads/{$value->pix}" title='{$value->description}'></dd>	
			<dd><a href="detail.php?action=detail&id={$value->id}" class="btn btn-primary take" target="_blank">购买</a></dd>
		</dl>
	</li>
	{/foreach}
	{else}
	<li>暂无商品</li>
	{/if}
</ul>
<div id="page">{$page}</div>
</body>
</html>